{% extends 'base.html.twig' %}

{% block title %}Anders Björkland - Web Developer{% endblock %}

{% block body %}
    <section class="hero">
        <h1>I'm Anders</h1>
        <h2>I make <span class="pink">unique</span> and <span class="blue">effective</span> websites</h2>
    </section>

    <section class="cta box-shadow">
        <div class="cta__content">
            <p>I build brand identity with design and code.</p>
            <p><a class="link link--ul" href="{{ path("portfolio") }}">Browse my projects</a></p>
        </div>
    </section>

{% endblock %}

{% block sidebar %}
    {% include 'partials/_links_list.html.twig' with {'posts': posts, 'pages': pages} %}
{% endblock %}

