{% extends 'base.html.twig' %}

{% block title %}Anders Björkland - Web Developer{% endblock %}

{% block body %}
    <section class="hero">
        <h1>I'm Anders</h1>
        <p>I make <span class="ceris">unique</span> and <span class="blue">effective</span> websites</p>
    </section>

    <section class="call-to-action">
        <p>I build brand identity with design and code.</p>
        <p>Make your visitors your next customers!</p>
        <a href="#">Browse my projects</a>
    </section>
{% endblock %}

{% block sidebar %}
    {% include 'partials/_links_list.html.twig' with {'posts': posts, 'pages': pages} %}
{% endblock %}

