<footer>
    <div class="footer-wrapper">
        <div class="flex-column mt-2 ml-0">
            <div><a class="link" href="https://github.com/andersbjorkland" rel="noopener"><p>Github</p></a></div>
            <div><a class="link" href="https://twitter.com/abjorkland" rel="noopener"><p>Twitter</p></a></div>
            <div><a class="link" href="https://www.linkedin.com/in/anders-björkland-9679b859" rel="noopener"><p>LinkedIn</p></a></div>
        </div>
    </div>
</footer>