<footer>
    <div class="footer-wrapper">
        <div class="flex-row mt-2 ml-0">
            <div><a class="link" href="https://github.com/andersbjorkland" target="_blank" rel="noopener"><p class="social white-bg">Github</p></a></div>
            <div><a class="link" href="https://twitter.com/abjorkland" target="_blank" rel="noopener"><p class="social white-bg">Twitter</p></a></div>
            <div><a class="link" href="https://www.linkedin.com/in/anders-björkland-9679b859" target="_blank" rel="noopener"><p class="social white-bg">LinkedIn</p></a></div>
        </div>
        <p>Anders Björkland &copy;2020 </p>
    </div>
</footer>