@use "colors";

.card {
  width: 16rem;
  min-height: 20rem;
  padding: 1rem;
  justify-self: center;

  box-shadow: 4px 4px 12px colors.$lighterPink;

  display: flex;
  flex-direction: column;

  &__container {
    margin: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 1rem;
  }

  &--project {
    height: 30rem;
    overflow-y: auto;

    img {
      width: 100%;
    }

    p {
      margin: 0.5rem 0;
    }
  }
}