// Colors
$lighterPink: #FAEDFC;
$lightPink: #F5C7FC;
$pink:#FC60C5;

$mint: #b0fcf1;
$brightBlue: #60C5FC;
$solidBlue: #6077FC;

$purple: #9760FC;
$darkPurple: #4504be;

$orange: #f07305;

$darkGrey: #323232;

.blue {
  color: $solidBlue;
}

.mint {
  color: $mint;
}

.pink {
  color: $pink;
}
