@use 'mixins';
@use 'colors';

nav {
  background-color: colors.$lighterPink;
  width: 100%;
  display: flex;
  justify-content: center;

  .nav-wrapper {
    @include mixins.min-max-width;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo-container {
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 0;

    #logo-img {
      display: block;
      height: 2.5rem;
      width: 2.5rem;
    }
  }

  .nav-container {
    display: flex;
    gap: 0.5rem;
    margin-left: auto;
    margin-right: 1rem;

    .inner-container-link {
      display: flex;
      flex-direction: column;

      align-items: center;
      justify-items: center;

    }

    .link-text {
      display: none;
    }

    .link-img {
      height: 2.5rem;
      width: auto;
    }
  }

  .active > .inner-container-link {
    .change-fill {
      fill: white;
    }
  }
}

@media screen and (min-width: 600px)  {
  #portfolio-link:hover .link-img {
    animation: swing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }
  @keyframes swing {
    20% {
      transform: translate(0px, -5px);
    }
    30% {
      transform: translate(0px, -0px);
    }
    40% {
      transform: translate(0px, -4px);
    }
    50% {
      transform: translate(0px, 0px);
    }
    60% {
      transform: translate(0px, -3px);
    }
    70% {
      transform: translate(0px, -0px);
    }
    80% {
      transform: translate(0px, -1px);
    }
  }

  #blog-link:hover .link-img {
    animation: flip;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

  @keyframes flip {
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(-8deg);
    }
    70% {
      transform: rotate(-10deg);
    }
  }

  #about-link:hover #hand {
    transform: translate(0px, 17.086px);
    animation: wave;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  @keyframes wave {

    50% {
      transform: translate(-4px, 22.086px) rotate(-10deg);
    }
  }

  #admin-link:hover #crown{
    // transform: translate(0px, 17.086px);
    animation: admin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
  }

  @keyframes admin {
    50% {
      fill: #60C5FC;
    }
  }

  nav {
    .logo-container {
      margin-left: 0;
      padding: 1rem 1rem 1rem 0;

      #logo-img {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
      }
    }

    .nav-container {
      display: flex;
      margin-right: 0;

      .links-container {
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;

        &>.active {
          background-color: colors.$mint;
        }
      }

      .inner-container-link {
        position: relative;
      }

      a.nav-link {
        border-radius: 0.2rem;
        //padding: 0.2rem 0.2rem 0 0.2rem;
        padding: 0.5rem 0.2rem;
        width: 5rem;
        text-decoration: none;
        background-color: rgba(255, 255, 255, 1);
      }

      .link-text {
        margin-top: 0.2rem;
        //display: initial;
        color: white;
        background-color: colors.$pink;
        width: 5rem;
        padding: 0.1rem 0;
        text-align: center;
        border-bottom-left-radius: 0.2rem;
        border-bottom-right-radius: 0.2rem;

      }
    }
  }
}