.mt {
  &-auto {
    margin-top: auto;
  }

  &-0 {
    margin-top: 0;
  }

  &-2 {
    margin-top: 2rem;
  }

  &-4 {
    margin-top: 4rem;
  }
}

.ml-0 {
  margin-left: 0;
}

.mb {
  &-2 {
    margin-bottom: 2rem;
  }
}

