
@import "colors";
@import "header";
@import "blog";
@import "mixins";



// global

body {
  overflow-x: hidden;
  margin: 0;
}

.content-wrapper {
  display: flex;
  justify-content: center;

  & > * {
    @include min-max-width;
  }
}
.flexible-container {

}

.main-content {

}


.assistive-text {
  position: absolute;
  left: -4000px;
}