<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Anders Björkland - Web Developer {% endblock %}</title>
        <link href="https://fonts.googleapis.com/css?family=Raleway|Sniglet&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css')}}">
        {% block stylesheets %}{% endblock %}
        <link rel="icon"
              type="image/png"
              href="{{ asset('favicon.svg') }}">
        <meta name="author" content="Anders Björkland">

        {% block additionalMeta%}{% endblock %}

        <meta name="description" content="{% block metaDescription %}Hi! I am Anders. This is my home on the web. I love to code, and so I do it daily. I primarily code in PHP for server side magic and turn to React.js when client side interaction should be - INTERACTIVE. Follow my journey as I delve deeper into the world of code.{% endblock %}">
        <meta property="og:title" content="{% block metaOgTitle %}Effective and unique websites - Anders Björkland!{% endblock %}">
        <meta property="og:description" content="{% block metaOgDescription %}Hi! I am Anders. This is my home on the web. I love to code, and so I do it daily. I primarily code in PHP for server side magic and turn to React.js when client side interaction should be - INTERACTIVE. Follow my journey as I delve deeper into the world of code.{% endblock %}">
        <meta property="og:image" content="{% block metaOgImage %}http://andersbjorkland.online/images/femtearenan.png{% endblock %}">
        <meta property="og:url" content="https://andersbjorkland.online">
        <meta name="twitter:title" content="{% block metaTwitterTitle %}Effective and unique websites - Anders Björkland!{% endblock %}">
        <meta name="twitter:description" content="{% block metaTwitterDescription %}Hi! I am Anders. This is my home on the web. I love to code, and so I do it daily. I primarily code in PHP for server side magic and turn to React.js when client side interaction should be - INTERACTIVE. Follow my journey as I delve deeper into the world of code.{% endblock %}">
        <meta name="twitter:image" content="{% block metaTwitterImage %}http://andersbjorkland.online/images/femtearenan.png{% endblock %}">
        <meta name="twitter:card" content="summary_large_image">

        {% block headJS %}{% endblock %}
    </head>

    <body>
        {% include 'partials/_header.html.twig' %}

        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="flash-error">
                {{ message }}
            </div>
        {% endfor %}


        <div class="content-wrapper">
            <div class="flexible-container">
                <div class="main-content">
                    {% block body %}{% endblock %}
                </div>
                {% if sidebar is defined %}
                <div class="sidebar">
                    <h2>HEllo!</h2>
                    {% block sidebar %}{% endblock %}
                </div>
                {% endif %}
            </div>
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
